@import "./resets";
@import "./variables";
@import "./functions";
@import "./mixins";

body {
  background: $primary-color;
  color: $text-color;
}

.main {
  @include flex-center(row);
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(bold);
    padding: 1em;

    &:hover {
      color: $accent-color;
    }
  }

  #{&}__paragraph2 {
    @extend .main__paragraph;

    &:hover {
      color: pink;
    }
  }
  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme(false);
}
